.avm-wrapper {
  padding: 50px;
  text-align: center;
  background-color: #014260;
  font-family: "Segoe UI", sans-serif;
}

.avm-wrapper h1 {
  font-size: 2.3rem;
  margin-bottom: 40px;
  color: #00ffd5;
}

.avm-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.avm-grid div {
  padding: 35px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  background: white;
  color: black;
  transition: all 0.4s ease;
}

.avm-grid div:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 18px 40px rgba(0,0,0,0.25);
}
