.class-page {
  padding: 30px 50px 30px;
  min-height: 100vh;
 background: linear-gradient(135deg, #0b1d26, #1a3b4c, #2c5364);
 font-family: "Segoe UI", sans-serif;
}

/* Title */
.class-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #00ffd5;;
}

/* Class Buttons */
.class-selector,
.subject-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;
}

.class-selector button,
.subject-selector button {
      background: white;
    padding: 25px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s, box-shadow 0.25s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.class-selector button:hover,
.subject-selector button:hover {
  transform: translateY(-6px) scale(1.05);
  background: #00ffd5;
  color: #000;
  box-shadow: 0 10px 25px rgba(0, 255, 213, 0.4);
}

.class-selector .active,
.subject-selector .active {
  transform: translateY(-6px) scale(1.05);
  background: #00ffd5;
  color: #000;
}

/* Grid */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 5rem;
}

/* Card */
.note-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 18px;
  width: 300px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.note-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
}

/* Meta */
.note-meta {
  font-size: 0.8rem;
  color: #0369a1;
  background: #e0f2fe;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* Text */
.note-card h3 {
  font-size: 1.05rem;
  margin-bottom: 14px;
  color: #00ffd5;
}

/* Buttons */
.note-actions {
  display: flex;
  gap: 12px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.note-actions a {
  text-decoration: none;
  background: #1e40af;
  color: #00ffd5;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  transition: background 0.3s ease;
}

.note-actions a:hover {
  background: #1e3a8a;
}

/* Thumbnail */
.note-thumb {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-top: 10px;
}

/* State text */
.state-text {
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  margin-top: 40px;
}

/* Mobile */
@media (max-width: 600px) {
  .class-title {
    font-size: 1.8rem;
  }
  .notes-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-top: 5rem;
}
.class-page {
  padding: 50px 0px;
}
.note-card {
  width: 280px;
}
.note-thumb{
  height: 157px;
}
}
