.gk-page {
  padding: 30px 50px 30px;
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* Title */
.gk-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #00ffd5;
}

/* Filters */
.gk-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.gk-filters button {
  background: white;
    padding: 25px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s, box-shadow 0.25s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.gk-filters button:hover {
    transform: translateY(-6px) scale(1.05);
  background: #00ffd5;
  color: #000;
  box-shadow: 0 10px 25px rgba(0, 255, 213, 0.4);
}

.gk-filters .active {
    transform: translateY(-6px) scale(1.05);
  background: #00ffd5;
  color: #000;
}

/* Grid */
.gk-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 25px;
}

/* Card */
.gk-grid .gk-card {
  background: white;
  width: 320px;
  height: 345px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gk-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* Subject Badge */
.gk-subject {
  font-size: 0.75rem;
  background: #e0f2fe;
  color: #0369a1;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* Text */
.gk-card h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #00ffd5;
}

.gk-card p {
  font-size: 0.95rem;
  color: #9ee9dc;
  margin-bottom: 15px;
}

/* Buttons */
.gk-actions {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.gk-actions a {
  text-decoration: none;
  background: #1e40af;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  transition: background 0.3s ease;
}

.gk-actions a:hover {
  background: #1e3a8a;
}

/* Thumbnail */
.gk-thumb {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-top: 10px;
}

/* States */
.loading,
.empty {
  text-align: center;
  font-size: 1.1rem;
  color: #475569;
  margin-top: 50px;
}

/* Mobile */
@media (max-width: 600px) {
  .gk-title {
    font-size: 1.8rem;
  }
  .gk-thumb{
    height: 158px;
  }
  .gk-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 25px;
}
.gk-page {
  padding: 50px 0px;
}
.gk-grid .gk-card{
  width:280px;
}
.gk-filters button{
  width: 300px;
}
}
